header {
    background-color:rgb(103, 152, 84);
    position: fixed; 
    width: 100%; 
    top: 0;      
    left: 0;  
    z-index: 1000; 
    padding-bottom: 0%;
    
  }
  .logo h2 {
    text-align: center;
    color: #14340b; 
    
  }
  nav {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    
  }
  .nav-links {
    list-style: none;  
    display: flex;  
    align-items: center; 
    justify-content: space-between;
    padding: 0; 
    margin: 0;  
    gap: 2rem;
  }
  .nav-links li a {
    text-decoration: none; 
    color: rgb(209, 209, 187) ; 
    font-weight: 500 ; 
    padding: 0.5rem 1rem ;
  }
  .nav-links a:hover {
    color: rgb(5, 73, 36);
    text-decoration: underline;
  }
  .nav-links li a.active {
    font-weight: 600;  
  }
.content-center{
    text-align:center;
    background-color: rgb(218, 233, 212);
    max-width: 50%;
}
    .content-center h4{
        color: olive;
        line-height: 1.4;
        
       }
      
    .background-color {
        display: flex;
        justify-content: center;
        padding: 20px;
        max-width: 100%; 
    }
    .image-container{
            width: 100px;
            margin-left: 20px;
            height: auto;
           }
    .image-container img{
            width: 100%;
            height: auto;
           }
         .table{
            width: 100%;
            text-align:center;
            font-size: 18px;
            
           }
           .table caption{
            font-style: normal;
            color: #4a6741;
           }
           .table td{
            color:olive;
            border: none;
            padding: 12px 15px; 
           
         }
         .table td h3{
            color:#4a6741; 
         }
         .table img {
            width: 80%;
            padding: 10px;
        
         }